.app-header {
  background-color: #333;
  color: #fff;
  margin: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    margin: 0 auto 0 0;
    font-size: 1.4em;
  }

  a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin: 0;
  }
  
  button {
    width: auto;
    margin: 0 0 0 20px;
    background: transparent;
    color: white;
    border: solid 1px white;
    cursor: pointer;
  }
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

nav button {
  margin-left: 10px;
}